
*.config
*.ssdl
*.config
*.Config
*.msl
*.edmx
*.Config
*.Config
Infrastructure/App.Config
*.config
Infrastructure/bin/Debug/ClassLibrary1.dll.config
Infrastructure/obj/Debug/edmxResourcesToEmbed/WebDataBaseModel.csdl
*.config
Infrastructure/bin/Debug/ClassLibrary1.dll.config
WebApplication1/bin/ClassLibrary1.dll.config
Infrastructure/bin/Debug/ClassLibrary1.dll.config
Infrastructure/App.Config
Infrastructure/bin/Debug/ClassLibrary1.dll.config
WebApplication1/bin/ClassLibrary1.dll.config
Infrastructure/bin/Debug/ClassLibrary1.dll.config
Infrastructure/App.Config
*.config
