@section css
    {
    <link href="@Url.Content("~/Content/index.`css")" rel="stylesheet" />
}


<div class="input-group col-md-3">
    <input type="text" placeholder="Type here..." class="form-control" />
    <i class="input-group-addon"><span class="glyphicon glyphicon-search"></span></i>
</div>



<div class="input-group col-md-3">
    <input type="text" placeholder="Type here..." class="form-control" />
    <span class="glyphicon glyphicon-search"></span>
</div>

<br />

<table class="table-bordered table">
    <thead>
        <tr>
            <td>Apple</td>
            <td>Banana</td>
            <td>Cherry</td>
            <td>Durian</td>
            <td>Eggplant</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>29/7/2020</td>
            <td>22/5/2018</td>
            <td>26/5/2018</td>
            <td>22/7/2019</td>
            <td>22/5/2018</td>
        </tr>
    </tbody>
</table>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Images/1.jpg" alt="Cannot show" style="height: 500px; width: 100%">
            @*<div class="carousel-caption">
                    <h3>JPG 1</h3>
                </div>*@
        </div>
        <div class="item">
            <img src="~/Images/2.jpg" alt="Cannot show" style="height: 500px; width: 100%">

        </div>
        <div class="item">
            <img src="~/Images/3.jpg" alt="Cannot show" style="height: 500px; width: 100%">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>

@section scripts{
    <script>
        $(function () {
            $("#carousel").carousel({
                interval: 3000,
                pause: "hover"
            })
        });
    </script>
}

